<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="form">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="$ctrl.task">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="$ctrl.addTask()">
                            <span class="glyphicon glyphicon-plus"></span> Add Task</button>
                        </span>
                    </div>
                </div>
            </div>
        
            <ul class="list-group" ng-show="$ctrl.tasks.length">
                <li class="list-group-item" ng-repeat="todo in $ctrl.tasks"> 
                    <p>{{todo.text}}</p>
                    <div>
                        <button 
                            class="btn btn-warning" 
                            ng-click="$ctrl.editTask(todo.uuid)"
                            ui-sref="todo.edit.uuid({ uuid: todo.uuid })"
                        >
                            Edit 
                        </button>
                        <button 
                            ng-click="$ctrl.doneTask(todo.uuid)" 
                            class="btn btn-success" 
                            ng-show="!todo.done"
                        >
                            Done
                        </button>
                        <button
                            ng-click="$ctrl.unDoneTask(todo.uuid)" 
                            class="btn btn-primary" 
                            ng-show="todo.done"
                        >
                            Undo 
                        </button>
                        <button 
                            class="btn btn-danger"
                            ng-click="$ctrl.deleteTodo(todo.uuid)"
                        >
                            Delete
                        </button>
                    </div>
                </li>
            </ul>
        </div>

        <div
            ng-repeat="task in $ctrl.tasks"
            ng-if="task.edit" 
            class="col-6">
            <div class="card">
                <ui-view
                    uuid="task.uuid"
                >
                </ui-view>
            </div>
        </div>
        
    </div>
</div>    
